/* reset */
/* 清除内外边距 */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Tahoma, Arial;
}

/* 设置块级元素 */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}


/* 重置列表元素 */
ul, ol {
    list-style: none;
}
li{
    list-style-type: none;
}
/* 重置文本格式元素 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #333;
}
a:link    {color:blue;}
a:visited {color:blue;}
a:active  {color:yellow;}
q:before, q:after {
    content: '';
}

/* 重置表单元素 */
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: none;
}
body {
    background: #fff;
}
.fr {
    float: right;
}
.fl{
    float: left;
}
.clear{
    clear:both;
}
