@charset "utf-8";
.mprod_box{width:1024px; margin:0 auto; }
.mprod_content{ width:1020px; margin:0 auto;}
.mprod_box2{ border:1px solid #3498db; width:231px; padding-bottom:10px; margin:0 11px; margin-bottom:20px; float:left;}

.product{ padding:0 10px;width:96%;}
.prod_left{ float:left; width:16%; background-color:#3498db; padding:10px 20px;}
.prod_left_box{ padding:6px 0;}
.prod_left_box a{ display:block; text-align: center; line-height:30px; color:#ffffff; font-size:14px;border-bottom:1px solid #ffffff;}
.prod_right{ float:right; width:80%;}
.prod_box{ border:1px solid #3498db; padding-bottom:10px; margin-bottom:20px; width:231px;}
.mprod_img img,.prod_img img{ width:228px; height:170px;}
.prod_title{ background-color:#c2e0f4; line-height:39px; text-align:center;}

.pdetail_left{  width:400px; padding-right:50px;}
.pdetail_left img{ width:360px; border:1px solid #ccc; padding:4px;}
.pdetail_right{  width:550px; font-size:16px; line-height:55px;}
.pdetail_tr1{ background-color:#3498db;}
.pdetail_tr2{ background-color:#E3E3E3;}
.pdetail_tr3{ background-color:#fff;}

.contact_list{ background:url(../images/contact_bg.jpg) no-repeat scroll right center;}
.contact_list_box{ border-bottom:1px dotted #ccc; line-height:30px;background:url(../images/contact_list_bg3.png) no-repeat scroll 5px center; padding-left:20px; width:750px; }
span.marginleft
{
	margin-left: 200px;
}
.head .Top-right .languange {
    background: url(../images/Top_icon.jpg) no-repeat left center;
    padding-left: 45px;
    color: #cfcfcf;
}
.head .logo {
    float: left;
}
.head .Top-right {
    float: right;
    margin-top: 10px;
}
.about p{
	text-indent:24px;
}
.about_us .contact_us .product_center{ margin-top: 70px; }
.orderTips
{
	margin-left: 10%;
    font-weight: bold;
    color: rebeccapurple;
    font-size: 14px;
    text-indent: -30px;
}
td {
    line-height: 26px;
}